.home {
  padding: 6rem 2rem;
  @media screen and (min-width: 550px) {
    padding: 2rem 1rem;
    overflow-x: hidden;
  }
  @media screen and (min-width: 800px) {
    padding: 2rem 5rem;
  }
  @media (min-width: 1100px) {
    padding: 5rem 20rem;
  }
}