.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 9rem 2rem;
  @media screen and (min-width: 550px) {
    padding: 3rem 2rem;
  }
  .info-settings {
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 0 1 80rem;
    min-height: 40rem;
    background: #fcfafa;
    box-shadow: 25px 0px 162px -68px rgba(0, 0, 0, 1);
    border-radius: 4px;
    .info {
      flex-basis: 100%;
      border-radius: 4px 4px 0 0;
      background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../assets/bg-4.jpg);
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      @media screen and (min-width: 550px) {
        background-attachment: fixed;
        border-radius: 0 4px 4px 0;
        flex-basis: 45%;
      }
      #number {
        font-size: 4.5rem;
        font-weight: 300;
      }
      #title {
        font-size: 1.5rem;
        margin-bottom: 6rem;
      }
    }
    .settings {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2rem 0;
      min-height: 40rem;
      @media screen and (min-width: 550px) {
        min-height: 45rem;
        border-radius: 0 4px 4px 0;
        flex-basis: 55%;
      }
      .logout {
        width: 90%;
        margin-top: auto;
        margin-bottom: 2rem;
      }
    }
  }
}
.open-close {
  max-height: 0;
  opacity: .1;
  overflow-y: hidden;
  transition: all .5s ease-in-out;
}
.open-close.active {
  max-height: 500px;
  opacity: 1;
  transition-delay: .3s;
}
.info-settings .open-close.active {
  padding: 1rem 2rem;
  background: #f6f1e982;
}
.info-settings .open-close button {
  background-color: gray;
  float: right;
}
.info-settings .settings > div {
  width: 100%;
}
.info-settings .settings > div > .header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  &.check {
    justify-content: flex-start;
    padding: .5rem 2rem;
    label {
      flex: 1;
      padding: 1.5rem 0;
      text-align: left;
    }
  }
}
.info-settings .settings > div > .header > svg {
  margin-right: .88rem;
}
.info-settings .settings > div:not(:last-of-type) > .header {
  border-bottom: 1px solid #f1f1f1;
}
.info-settings .settings > div:last-of-type > .header {
  margin-bottom: 3rem;
}
.info-settings .settings > div > .header span, .info-settings .settings > div > .header label {
  font-weight: 500;
  font-size: 1.2rem;
  color: gray;
  letter-spacing: 2px;
}
