
footer {
  bottom: 0;
  justify-content: space-between;
  & > button {
    margin: 0 2rem;
    background-color: transparent;
    &, & .icon {
      transition: transform .3s ease-in;
    }
    &:hover {
      transform: translateY(-3px)
    }
  }
  .settings {
    z-index: 5;
    display: none;
    &::after {
      border-color: transparent transparent #fcfafa #fcfafa;
    }
    .drop {
      width: 15rem;
      background: #fcfafa;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
      &  > * {
        margin-bottom: 1rem;
        &.check {
          border-bottom: 1px solid #f1f1f1;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          padding: 1rem 0;
          margin-bottom: 2rem;
        }
        &#info {
          color: gray;
        }
      }
    }
  }
  .add {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #43a047;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
    box-shadow: 0 16px 26px -10px rgba(60, 72, 88, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(60, 72, 88, 0.2);
    /* animation-name: pulse; */
    animation-iteration-count: 10;
    animation-duration: 2s;
    &.active .icon {
      transform: rotate(45deg);
    }
    &::after {
      border-color: transparent transparent #43a047 #43a047;
    }
    .drop {
      background: #43a047;
      color: white;
    }
  }
  .delete {
    fill: #ff5925;
  }
  .edit {
    order: -1;
  }
  @media screen and (min-width: 550px) {
    justify-content: flex-start;
    .edit {
      margin-left: auto;
      order: 0;
    }
    .settings {
      display: initial;
    }
  }
}