/* font import */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
/* variables */
:root {
  --secondary-color: rgb(60, 72, 88);
  --gray: #a2a2a2;
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --lighter-text-color: #3C4858;
  --light-gray: #f8f8f8;
  --outrageous-orange: #ff5925;
  --background-color: #fcf8ef;
}
/* resets */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
}

/* Scroller Track */
::-webkit-scrollbar {
  width: 7px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
::-webkit-scrollbar-track:hover {
  background: var(--cute-pink);
}

/* Scroller Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-text-color); 
  border-radius: 10px;
}
body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
label, .btn, button {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
}
.btn {
  border: none;
  outline: none;
  padding: .8rem 1.5rem;
  border-radius: 3px;
  min-width: 6rem;
  background-color: rgb(60, 72, 88);
  color: white;      
  transition: all .2s ease-in;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
  0 3px 1px -2px rgba(153, 153, 153, 0.2),
  0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
.btn::after {
  clear: both;
}
.btn:hover {
  box-shadow: 0 16px 26px -10px rgba(60, 72, 88, 0.56),
  0 4px 25px 0px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(60, 72, 88, 0.2);
}
.btn.round {
  border-radius: 150px;
}
.btn:disabled, .btn:disabled:hover {
  background: var(--gray);
  box-shadow: none;
  cursor: initial;
}
/* animations */

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.main-body {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

svg.icon {
  width: 1.9rem;
  height: 1.9rem;
}

h1 {
  font-size: 2.5rem;
}
header, footer {
  position: fixed;
  left: 0;
  width: 100%;
  background: #f8f8f8;
  z-index: 5000;
  padding: .5rem 5rem;
  display: flex;
  align-items: center;
  @media screen and (min-width: 550px) {
    position: static;
    padding: 2rem 5rem;
    background: transparent;
  }
}
.cancel {
  background: var(--gray);
  margin-right: 1rem;
}

input[type="checkbox"]{
	font-size: 1rem;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.8em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
  
input[type="checkbox"]:checked{
  background: var(--secondary-color);
  box-shadow: 0 16px 26px -10px rgba(60, 72, 88, 0.56),
  0 4px 25px 0px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(60, 72, 88, 0.2);
}
  
input[type="checkbox"]:after{
	position: absolute;
	content: "";
	width: 1.8em;
	height: 1.8em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
  
input[type="checkbox"]:checked:after{
  left: calc(100% - 1.8em);
}