header {
  justify-content: space-between;
  top: 0;
}
header h1 {
  font-weight: 500;
}
header h1 a {
  color: var(--secondary-color)
}
header img.bg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 16px 26px -10px rgba(60, 72, 88, 0.56),
  0 4px 25px 0px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(60, 72, 88, 0.2);
  cursor: pointer;
}