.auth-card {
  min-height: 45rem;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  flex: 0 1 900px;
  display: grid;
  grid-template-areas: "intro" "login-signup";
  grid-template-columns: 1fr;
  .login-signup {
    grid-area: login-signup;
    background: white;
    min-height: 30rem;
    border-radius: 0 0 4px 4px;
    padding: 7rem 3rem 6rem;
    span.link {
      color: #b7a193;
      cursor: pointer;
    }
    p {
      font-size: 1.4rem;
    }
    .btn{
      margin-top: 1rem;
      float: right;
    }
    &_login, &_signup {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      max-height: 0;
      opacity: .1;
      overflow-y: hidden;
      transition-property: all;
      transition-duration: .6s;
      transition-timing-function: ease-in-out;
      &.active {
        max-height: 500px;
        opacity: 1;
        transition-delay: .6s;
      }
    }
  }
  .intro {
    grid-area: intro;
    padding: 3rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../../assets/bg-2.jpg);
    background-size: auto 100%;
    text-align: center;
    color: white;
    border-radius: 4px 4px 0 0;
    letter-spacing: 1px;
    line-height: 1.4;
    p {
      font-size: 2.2rem;
      font-weight: 300;
      margin-top: 15rem;
    }
  }
  @media (min-width: 550px) {
    grid-template-areas: "login-signup intro";
    grid-template-columns: 3.5fr 6.5fr;
    .intro {
      border-radius: 0 4px 4px 0;
    }
    .login-signup {
      border-radius: 4px 0 0 4px;
    }
  }
  section.auth.login-view .login {
    max-height: 500px;
    opacity: 1;
    transition-delay: .6s;
  }
  section.auth.signup-view .signup {
    max-height: 500px;
    opacity: 1;
    transition-delay: .6s;
  }
}